@CHARSET "ISO-8859-1";

div.footer{
	/* margin-left:15%;
	margin-right:15%; */
	background-color: activeborder;
	width: 70%;
	height:4em;
    background: linear-gradient(to bottom,  #f9f6fe 0%,#faf8fe 37%,#d1c1f7 100%); W3C	
        
}
div.contactUs{
	width: 40%;
	 height: 2.5em; 
	float: left;
	font-family:sans-serif;
}

div.followUs{
	 height:2.5em; 
	width: 60%;
	float: right;
	text-align: right;
	font-family:sans-serif;
}

div.followUs ul li{
	display: inline;
	margin-right: 0.5em;
	
}

div.copyright{
	text-align: center;
	font-family:sans-serif;
}

